<div class="center jumbotron">
  <h1>イロチコンプ率：XX ％</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
</div>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>野</th>
            <th>鰻</th>
            <th>植</th>
            <th>川</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>フシギダネ</th>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <th>フシギソウ</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>